*{
    padding: 0px;
    margin: 0px;
    font-family: Onest;
    text-decoration: none;
    text-wrap: nowrap;
}

:root{
    --orange: rgb(255, 106, 0);
    --background-color: rgb(254, 254, 254);
    --hover-table: rgb(241, 241, 241);
    --text-color: rgb(17, 17, 17);
}


/* Кнопки */
button{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem;
    gap: 4px;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
}

button:hover{
    cursor: pointer;
}

/* Кнопка добавить посылку */
button#add_btns{
    background: #4C9954;
}

button#add_btns:hover{
    background: #3D7A43;
}


/* Печать QR */
button.skan-button{
    /* display: inline; */
    background: #FE912F;
}

.img-icon-QR{
    width: 28px;
    height: 28px;
    display: block;
    background-image:url(../img/svg/skan-button.svg);
}

.img-icon-circle{
    width: 10px;
    height: 10px;
    display: block;
    background-image:url(../img/svg/circle.svg);
}



button.skan-button:hover{
    background: #CB7426;
}

/* Ссылки */
a{
    color: var(--text-color);
}

a:hover{
    color: var(--orange);
    cursor: pointer;
}

/* @media (min-width: 1200px) { */
    /* Шапка */
    header{
        position:fixed;
        background-color: #FFF;
        width: 100%;
        display: flex;
        height: fit-content;
        --background-color: var(--background-color);
        box-shadow: 0px 0px 20.1px rgba(0, 0, 0, 0.25);
        margin-bottom: 8px;
        color: var(--text-color);
    }

    aside{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        padding: 0.5rem 2rem;
    }

    /* Надпись Склад */
    h1{
        font-style: normal;
        font-weight: 600;
        font-size: 4rem;
    }

    .header-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 70px;
    }

    #profile-name{
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
    }


    /* Таблица */
    table{
        padding-top: 110px;
        height: 72px;
    }

    thead > tr{
        height: fit-content;
    }

    table > tbody > tr{
        height: 4rem;
    }

    table > tbody > tr:hover{
        background-color: var(--hover-table);
    }


    th{
        font-style: normal;
        font-weight: 900;
        font-size: 1rem;
        color: var(--text-color);
        text-align: left;
        justify-content: left;
    }

    td{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
        border: none;
        padding-right: 30px;
    }


    td.adres, td.client, td.phone-number, td.courier{
        display:table-cell;
        max-width: 150px;
        margin-right: 1rem;
        overflow: hidden;
    }

    th.adres, th.client, th.phone-number, th.courier{
        /* display: inline-block;
        width: 120px;
        margin-right: 1rem; */
        overflow: hidden;
    }

    th.id{
        padding-left: 2rem;
        padding-right: 2rem;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    td.size{
        padding-left: 1rem;
        text-align: center;
        vertical-align: middle;
    }

    th.size{
        padding-right: 1rem;
    }

    .state-delivery, .state-done, .state-new{
        /* Auto layout */
        display: flex;
        width: fit-content;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        gap: 8px;
        border-radius: 40px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        text-wrap:nowrap;
        }

    .state-new{
        background: #82569D;
    }

    .state-delivery{
        background: #4C80CE;
    }

    .state-done{
        background: #4C9954;
    }

    td.time{
        width: auto;
        padding-right: 40px;
    }

    td.courier{
        padding-right: 3rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }


 

    fieldset{
        border: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
    }

    fieldset input{
        display: flex;
        height: 32px;
        padding: 0px 12px;
        align-items: center;
        border-radius: 8px;
        align-self: stretch;
        border: none;
        background-color: white;
        color: #000;
    }


    fieldset input:focus-visible{
        border: none;
        border: var(--orange);
        outline: none;
        filter: drop-shadow(0px 3px 6.75px rgba(0, 0, 0, 0.5));
    }

    label{
        color: #FFF;
        font-family: Bahnschrift;
        font-size: 12px;
        font-style: normal;
        align-self: stretch;
        font-weight: 350;
    }
/* } */