*{
    padding: 0px;
    margin: 0px;
    font-family: "Onest";
    text-decoration: none;
    text-wrap: nowrap;
}

:root{
    --orange: rgb(255, 106, 0);
    --background-color: rgb(254, 254, 254);
    --hover-table: rgb(241, 241, 241);  
    --text-color: rgb(17, 17, 17);
}

body{
    background-color: #E9E9E9;
    width: 100%;
    height: 100svh;
}

.container{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-self: center;
}

h1#welcome{
    font-family: 'Onest';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    text-align: center;
    background-color: #FFFFFF;
}

.background-image{
    position:absolute;
    pointer-events: none;
    z-index: -1;
    width: 60%;
    height: 50%;
    bottom: 0svh;
    left: 50%;
    transform: translate(-50%, 0%);
    background-image: url(../img/svg/box.svg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.login-container{
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #FFFFFF;
    width: fit-content;
    padding: 80px 70px;
    padding-bottom: 70px;
    border-radius: 60px;
}

    
form#email-form{
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#error-message{
    padding-top: 20px;
    color: #E65752;
}

#button-input{
    background-color: #000000;
    border: none;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    width: fit-content;
    display: flex;
    justify-content: center;
    padding: 16px 100px;
    border-radius: 50px;
}

#email, #password, #code{
    background-color: transparent;
    border: none;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    display: flex;
    align-self: stretch;
    justify-content: left;
    border-bottom: 2px solid black;
    margin-top: 40px;
}


#email:focus, #password:focus, #code:focus{
    border: none;
    outline: none;
    border-bottom: 3px solid black;
    margin-top: 39px;
}


#email:focus-within, #password:focus-within, #code:focus-within{
    border: none;
    border-bottom: 3px solid black;
}

input:focus:not(:placeholder-shown) {
    border: none; /* или border: 0; */
  }

#button-input:hover{
    cursor:pointer;
    background-color: #303030;
}

#button-input:active{
    cursor:pointer;
    background-color: #000000;
}

#password-input{
    margin-top: 50px;
}

#email-input{
    margin-top: 80px;
}

#button-input{
    margin-top: 40px;
}



/* Кнопки */
button{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem;
    gap: 4px;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
}

button:hover{
    cursor: url(../img/cursor/pointer.svg) 2 2, auto;
}
