<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', path='favicon.ico') }}">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', path='errors/css/style.css') }}">
    <title>Коробка | 404 Страница не найдена</title>
</head>
<body>
    <div class="main-container">
        <h1>404</h1>
        <div id="box-404"></div>
        <a href="/storage">На главную</a>
    </div>
</body>
</html>