<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', path='favicon.ico') }}">
    {% block header %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', path='base/css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <aside class="header-container">
            <h1>Склад</h1>
            <span id="profile-name">Пользователь</span>
        </aside>
    </header>
    <div id="profile-data" style="display: none;">
        <div class="data-row">
            <span class="profile-label">Фамилия</span>
            <span class="profile-text" id="second-name">Фамилия</span>
        </div>
        <div class="data-row">
            <span class="profile-label">Имя</span>
            <span class="profile-text" id="first-name">Имя</span>
            </div>
        <div class="data-row">
            <span class="profile-label">Email</span>
            <span class="profile-text" id="email">Email</span>
        </div>
        <div class="data-row">
            <span class="profile-label">Телефон</span>
            <span class="profile-text" id="phone">Телефон</span>
        </div>
        <a  id="logout">Выйти из профиля</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', path='base/js/profile.js') }}"></script>
    {% block body %}{% endblock %}
    <footer>
        <a href="/storage" class="footer-link">Склад</a>
        <a href="/admin" class="footer-link">Админка</a>
        <a href="/courier" class="footer-link">Курьерам</a>
        <a href="/docs" class="footer-link">Доки</a>
        <a href="/404" class="footer-link">404</a>
        <a href="/500" class="footer-link">500</a>
        <a href="https://github.com/andrewbright999/korobka" class="footer-link">GitHub</a>
        <a href="https://www.figma.com/design/oTOmDFAJDKUGpJciB8J1ys/Box?node-id=0-1&t=Zq6jbYLvxE0sSzg9-1" class="footer-link">Figma</a>

    </footer>
</body>
</html>
