<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход | Коробка</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', path='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='login/css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="background-image"></div>
        <div class="login-container">
            <h1 id="welcome"> Добро<br>пожаловать! </h1>
            <form id="email-form">
                <input type="email" name="email" id="email" placeholder="Email@korobka.ru" required>
                <input type="password" name="password" id="password" placeholder="Пароль" required>
                <input type="submit" value="Войти" id="button-input">
                <span id="error-message"></span>
            </form>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script src="{{ url_for('static', path='login/js/script.js') }}"></script>
        </div>
    </div>
    <footer>
        <a href="/docs" class="footer-link">Доки</a>
        <a href="https://github.com/andrewbright999/korobka" class="footer-link">GitHub</a>
        <a href="https://www.figma.com/design/oTOmDFAJDKUGpJciB8J1ys/Box?node-id=0-1&t=Zq6jbYLvxE0sSzg9-1" class="footer-link">Figma</a>
    </footer>
</body>

</html>
