{% extends 'base.html' %}
{% block header %}
<title>Склад</title>
<link rel="stylesheet" href="{{ url_for('static', path='storage/css/style.css') }}">
{% endblock %}
{% block body %}
<div class="body-container">
    <div id="not-found"></div>
    <table></table>
    <div class="form-container">
        <h2>Новая посылка</h2>
        <form id="create-box-form">
            <div class="form-row">
                <label for="size">Размер</label>
                <div class="size-options">
                    <input type="radio" id="size-s" name="size" value="S" checked>
                    <label for="size-s">S</label>
                    <input type="radio" id="size-m" name="size" value="M">
                    <label for="size-m">M</label>
                    <input type="radio" id="size-l" name="size" value="L">
                    <label for="size-l">L</label>
                    <input type="radio" id="size-xl" name="size" value="XL">
                    <label for="size-xl">XL</label>
                </div>
            </div>
            <div class="form-row">
                <label for="client">Клиент</label>
                <input type="text" id="client" name="client" placeholder="Андрей" required>
            </div>
            <div class="form-row">
                <label for="phone">Телефон</label>
                <input type="tel" id="phone" name="phone" placeholder="89123456789" required>
            </div>
            <div class="form-row">
                <label for="address">Адрес</label>
                <input type="text" id="address" name="address" placeholder="ул.Название 123" required>
            </div>
            <input type="submit" id="add_btns" value="Добавить посылку">
        </form>
    </div>

    <div id="qr-code-container" style="display: none;">
        <div id="qr-modal-container"></div>
        <div id="top-section">
            <div id="qr-code"></div>
            <div id="right-section">
                <span id="qr-help-msg">Наклейте или напишите<br>айди на коробку</span>
                <div id="box-id"></div>
                <button id="print-btn">Распечатать</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcode-generator@1.4.4/qrcode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js"></script>
    <script src="{{ url_for('static', path='storage/js/loadTableData.js') }}"></script>
    <script src="{{ url_for('static', path='storage/js/createBox.js') }}"></script>
</div>
{% endblock %}
