<!DOCTYPE html>
<html lang="en">
<head>
    <meta ch arset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход | Коробка</title>
    <link rel="stylesheet" href="{{ url_for('static', path='main/css/login.css') }}">
</head>
<body>
    <div class="container">
        <div class="background-image"></div>
        <div class="login-container">
            <h1>Добро<br>пожаловать!</h1>
            <div  class="login-container" id="email-section">
                <form id="email-form">
                    <input type="email" name="email" id="email" placeholder="Email@mail.ru" required>
                    <input type="submit" value="Войти" id="button-input">
                </form>
                <p id="email-message"></p>
            </div>
        
            <div class="login-container" id="2fa-section" style="display: none;">
                <h2>Step 2: Enter the 2FA code</h2>
                <form id="2fa-form">
                    <input type="hidden" id="2fa-email" name="email">
                    <label for="code">2FA Code:</label>
                    <input type="text" id="code" name="code" required>
                    <input type="submit" value="Войти" id="button-input">
                </form>
                <p id="2fa-message"></p>
                <script>
                    document.getElementById('email-form').addEventListener('submit', async function(event) {
                        event.preventDefault();
                        const email = document.getElementById('email').value;
                        try {
                            const response = await fetch('users/one-login', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ email: email })
                            });
                            const result = await response.json();
                            if (response.ok) {
                                document.getElementById('email-section').style.display = 'none';
                                document.getElementById('2fa-section').style.display = 'block';
                                document.getElementById('2fa-email').value = email;
                                document.getElementById('email-message').textContent = '';
                            } else {
                                document.getElementById('email-message').textContent = result.detail;
                            }
                        } catch (error) {
                            document.getElementById('email-message').textContent = 'Error sending email. Please try again.';
                        }
                    });
            
                    document.getElementById('2fa-form').addEventListener('submit', async function(event) {
                        event.preventDefault();
                        const email = document.getElementById('2fa-email').value;
                        const code = document.getElementById('code').value;
                        try {
                            const formData = new FormData();
                            formData.append('email', email);
                            formData.append('code', code);
            
                            const response = await fetch('/users/two-login', {
                                method: 'POST',
                                body: formData
                            });
            
                            if (response.redirected) {
                                window.location.href = response.url;
                            } else {
                                const result = await response.json();
                                document.getElementById('2fa-message').textContent = result.detail;
                            }
                        } catch (error) {
                            document.getElementById('2fa-message').textContent = 'Error verifying code. Please try again.';
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</body>
</html>
